*{margin:0;padding:0}
.img_1{border:1px solid #ddd;border-radius: 5px;box-shadow: 2px 0px 1px 0px}
.main_content{margin-left:10px;}
.span3{padding:20px}
footer{padding:20px;border:2px solid #ddd;color:#fff;background:#111;border-radius:5px}
.footer p{}